fastapi==0.111.0
gunicorn==22.0.0  <-- Ye add ho jayega
pandas==2.2.2
Pillow==10.3.0
pydantic==2.7.1
requests==2.31.0
streamlit==1.35.0
uvicorn==0.29.0
# aur bhi kuch libraries ho sakti hain...
